extends layout

block content
  div.container 
    div.col-md-5 
    input.form-control(id="username" placeholder="Rumunuz" value="anonim")
    h3(style="margin-bottom:25px; text-align:left;") Sohbet Odası
      br
      div(id="messages" style="width:100%; height:400px; outline: 1px solid orange;")
      br
      input.form-control(id="message" placeholder="Mesajınızı yazın")
      br
      span.btn.btn-primary.pull-right(id="send") Mesaj Gönder 